#btn {
    text-align: right;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
  }
#boxtext1 {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
}
#boxtext2 {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
}