<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Back!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-family:verdana" style="color: red;">Email</p><br>
<div id="boxtext1">
<label class="item item-input">
  <i class="icon ion-android-person placeholder-icon"></i>
  <input type="text" placeholder="Please enter your email" class="username">
</label>
</div>
<br><p style="font-family:verdana" style="color: red;">Password</p><br>
<div id="boxtext2">
<label class="item item-input">
  <i class="icon ion-android-person placeholder-icon"></i>
  <input type="text" placeholder="Please enter your password" class="password">
</label>
</div>
<div id="btn">
<br>
<ion-button shape="round" size="large" color="warning">Login</ion-button><br><br>
</div>
</ion-content>
